/*
 Navbar 
header{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-between;
  background: #fff;
  border-bottom: solid #000000;

}

.nav_bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  list-style: none;
  float: left;  
}

.nav_item a{
  color: black;
  text-decoration: none;
}

.nav_item a:hover, a:focus{
  color:#7C6868;
}
*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}
/*
@import url('https://fonts.googleapis.com/css?family=Cantata+One');
@import url('https://fonts.googleapis.com/css?family=Lato');
*/

html {
  box-sizing: border-box;
  font-family: Poppins-Medium;
}
*, *:before, *:after {
  box-sizing:inherit;
}

/*body*/
.contact100-more {
  background-color: #bdc2e8;
  background-image: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
  background-repeat: no-repeat;

}

/* CARD STYLING */

.container,
.card_f,
.card_front,
.card_back {
  width: 397px;
  height: 640px;
  margin: 3em auto;  
}

.card_front,
.card_back {  
/*   height: 100%; */
  background:url(../images/aus.jpg) no-repeat center;
  box-shadow: 0px 5px 25px 0px rgba(51,51,51,0.28); 
}

/*
.card-symbol {
  margin: 0;
  width: 50%;
  text-align: center;
  color: #000;
  font-family: 'Cantata One', serif;
  font-size: 13em;  
  mix-blend-mode: lighten;
}
*/

@supports(display:flex){
 .card_front {  
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .card_front .card-symbol {  
    margin: 0 0.15em;
    border-radius: 50%;
    font-size: 15em;  
  }
}

.card_front {
  position: relative;
  padding: 0 1em;
}

.card_front .card-symbol {    
  font-size: 15em;  
}



.card_back {
/*   display: none; */
  padding: 1em;
}

.card_front > *,
.card_back > * {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);  
}

.card-text {
  padding: 0 4.5em 1em;
  line-height: 1.4;
}

p:first-of-type {    
  margin-top: 0;
  padding: 1.5em 0 0;
  border-top: 8px solid #333;
}

/* FLIP CARD STYLING */
.container {
  perspective: 1000px;
}

.container:hover .card_f, 
.container.hover {
  transform: rotateY(-180deg);
}

.card_f {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
}

.card_front,
.card_back {
  backface-visibility: hidden;
  position:inherit;
  top: -99px;
  left: 0;
}

.card_front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card_back {
  transform: rotateY(-180deg);
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }
    *{
        animation-duration: 0s;
        transition: none;
        scroll-behavior: auto;
    }    